.list {
  margin-bottom: 30px;

  &__add-button {
    svg,
    span {
      opacity: 0.5;
      transition: 0.3s;
    }
    &:hover {
      svg,
      span {
        opacity: 0.9;
      }
    }
  }

  li {
    span {
      flex: 1;
    }

    display: flex;
    padding: 12px 10px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    transition: 0.3s;

    .list__remove-icon {
      opacity: 0;
      transition: 0.3s;

      &:hover {
        opacity: 0.8 !important;
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      .list__remove-icon {
        opacity: 0.3;
      }
    }

    &.active {
      background-color: #fff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
    }
  }

  i {
    display: inline-flex;
    margin-right: 8px;
    svg {
      path {
        fill: #7c7c7c;
      }
    }
  }
  .badge {
    position: relative;
  }
}
