.tasks {
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 39px;
    color: #8000ff;
    padding-bottom: 20px;
    border-bottom: 1px solid #8000ff;

    &:hover {
      img {
        opacity: 0.2;
      }
    }
  }
  img {
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 15px;
    width: 20px;
    height: 20px;
  }
  &__items {
    margin-top: 15px;
    &-row {
      display: flex;
      align-items: center;

      input {
        margin-left: 10px;
        border: 0;
        width: 100%;
      }
    }
  }

  .checkbox {
    input {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: 0.2s;

      svg {
        opacity: 0;
      }
      &:hover {
        background-color: #e8e8e8;
        .checkbox__svg {
          opacity: 1;
          path {
            stroke: #b2b2b2;
          }
        }
      }
    }
    input:checked + label {
      background-color: #8000ff;
      border-color: #8000ff;
      .checkbox__svg {
        opacity: 1;
        path {
          stroke: #fff;
        }
      }
    }
  }
}
